.cards-list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin-right: auto;
        margin-left: auto;
        margin-top:20px;
        text-align: center;
        padding: 10px;

        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
       
        .character-name {
        	margin-top: 20px;
        }
        .img {
        	
        	border: 1px solid gray;
        }

        &:hover {
           -webkit-box-shadow: 3px 4px 5px 6px rgba(0,0,0,0.2);
            -moz-box-shadow: 3px 4px 5px 6px rgba(0,0,0,0.2);
            box-shadow: 3px 4px 5px 6px rgba(0,0,0,0.2);
        }

        a:hover {
        text-decoration: none;
        }
    }
}


.tag-line {
    color: grey;
    font-size: 18px;
}

.card-image {
	padding: 10px;
}

.character-info {
	img {
		float: left; margin: 0px 15px 15px 0px;
	}

	p {
		font-size: 1.2em;
	}
}

