body {
    background-image: url(../images/blueBg.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -9;
}