.navbar-default {
    background-color: #990202;
    border-top: 1px solid #d3e0e9;
}

.navbar-brand {
	display: none;
	@media screen and (max-width: $break-medium) {
    display: inline;
  }
}

.navbar-nav{
	font-size: 1.5em;
	@media (min-width: $break-medium){ 
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
    color: $yellow-color;
}